In [1]:
import pandas as pd
import numpy as np
import country_converter as coco
import re
import os

In [2]:
current_folder = globals()['_dh'][0]
rootdir = os.path.dirname(os.path.dirname(current_folder))
indir_prepro = os.path.join(rootdir, '_1_preprocessing', 'code')
indir_inter = os.path.join(rootdir, '_2_intermediate', 'data')
outdir = os.path.join(rootdir, '_3_figures_tables', 'data')

In [3]:
dff = pd.read_csv(os.path.join(indir_prepro, '_census_fractions.csv'))
df = pd.read_csv(os.path.join(indir_inter, '_nobstab_app_newdata.csv'))
df = pd.merge(df, dff, on=['iso', 'year'], how='left')
df['country'] =  coco.convert(names=list(df['iso']), to='name_short')
df = df[['country', 'year', 'fraction', 'ni',
         'ni_r', 'ni_a', 'ni_e',
         'ni100_e', 'ni25_e', 'ni18_e',
         'ni100_ec0', 'ni25_ec0', 'ni18_ec0']]
df.columns = ['country',
              'year',
              'full census fraction',
              'number of individuals in raw data',
              'number of individuals with religion observed',
              'number of individuals with religion + \
               own age observed',
              'number of individuals with religion + \
               own age + own education observed',
              'number of individuals, aged 14+, with \
               religion + own age + own education observed',
              'number of individuals, aged 14-25, with \
               religion + own age + own education observed',
              'number of individuals, aged 14-18, with \
               religion + own age + own education observed',
              'number of individuals, aged 14+, with \
               religion + own age + own education + \
               previous generation education observed',
              'number of individuals, aged 14-25, with \
               religion + own age + own education + \
               previous generation education observed',
              'number of individuals, aged 14-18, with \
               religion + own age + own education + \
               previous generation education observed'              
              ]
tot = pd.DataFrame(df.iloc[:,3:].sum(axis=0)).T
tcs = list(tot.columns)
tot['country'] = 'total'
tot['year'] = ''
tot['full census fraction'] = ''
tot = tot[['country', 'year', 'full census fraction'] + tcs]
df = pd.concat([df, tot], axis=0)
df

,country,year,full census fraction,number of individuals in raw data,number of individuals with religion observed,number of individuals with religion + own age observed,number of individuals with religion + own age + own education observed,"number of individuals, aged 14+, with religion + own age + own education observed","number of individuals, aged 14-25, with religion + own age + own education observed","number of individuals, aged 14-18, with religion + own age + own education observed","number of individuals, aged 14+, with religion + own age + own education + previous generation education observed","number of individuals, aged 14-25, with religion + own age + own education + previous generation education observed","number of individuals, aged 14-18, with religion + own age + own education + previous generation education observed"
0,Benin,1992,10.0,498419,495114,494900,433274,255736,100988,44455,108664,65040,34784
1,Benin,2002,10.0,685467,685467,685467,612658,373452,155832,69048,160458,104331,57364
2,Benin,2013,10.0,1009693,1009693,1009693,911604,559525,240049,108694,244182,170580,93329
3,Burkina Faso,1996,10.0,1081046,1025717,1021722,802832,552062,226254,114088,250828,157808,95669
4,Burkina Faso,2006,10.0,1417824,1417824,1410123,1244291,770161,321384,151393,327195,211275,123364
5,Botswana,2001,10.0,168676,118718,118211,117809,109509,44734,20578,42573,29119,16077
6,Botswana,2011,10.0,201752,147294,146827,146149,138094,48829,20638,47082,28817,14276
7,Cameroon,2005,10.0,1772359,1747716,1747716,1524571,1003327,431550,197049,426755,295388,162672
8,Egypt,1986,14.1,6799093,6797805,6793098,5417612,4261935,1609560,721960,1931312,1345068,693275
9,Egypt,1996,10.0,5902243,5902243,5901839,4453382,3810835,1471285,718874,1616808,1230963,695795
10,Egypt,2006,10.0,7282434,7282434,7282434,5739722,5096618,1977932,785619,2046232,1590965,759450
11,Ethiopia,1984,10.0,3404306,3365378,3360536,2729932,1798345,618869,303442,556109,359917,234160
12,Ethiopia,1994,10.0,5044598,5006937,5006936,4198638,2831290,1223914,613743,1033511,787544,498229
13,Ethiopia,2007,10.0,7434086,7434086,7434086,1097614,744744,331544,161226,259645,200774,128818
14,Ghana,2000,10.0,1894133,1894133,1894133,1730902,1152128,434882,200000,489201,309485,167556
15,Ghana,2010,10.0,2466289,2466289,2466289,2262894,1575528,603020,270162,636999,424323,229128
16,Guinea,1983,10.0,457837,457477,457474,364655,274948,99777,44104,120685,68385,33789
17,Guinea,1996,10.0,729071,715336,713606,551391,396987,148010,69146,202097,113585,58373
18,Guinea,2014,10.0,1050916,1050916,1050916,951617,602197,250819,118361,355811,212496,108289
19,Liberia,2008,10.0,348057,348057,348057,294517,210111,87459,38854,86523,60197,32411
20,Mali,2009,10.0,1451856,1447559,1422097,1260437,775335,325596,158204,366117,241745,134899
21,Mozambique,2007,10.0,2047048,2001190,2001190,1606077,1094578,434683,192075,337181,248491,149848
22,Mauritius,1990,10.0,106710,106013,106000,101625,76358,24399,9947,34593,21222,9632
23,Mauritius,2000,10.0,119695,118440,118432,114249,90070,25401,9834,37403,22205,9623
24,Mauritius,2011,10.0,126332,125164,125077,121251,99864,22998,9879,38620,20783,9667
25,Malawi,1998,10.0,991393,991393,991393,826197,582694,251873,114846,170361,131703,83465
26,Malawi,2008,10.0,1341977,1302899,1301989,1161773,736175,307167,135833,216020,170362,108154
27,Nigeria,2010,0.05,72191,71839,71835,58859,41753,15457,7521,17701,12376,6846
28,Rwanda,1991,10.0,742918,715704,715704,535452,372256,146797,71270,121728,98430,59477
29,Rwanda,2002,10.0,843392,792433,792433,611066,456450,216930,108559,159872,139236,87049
30,Rwanda,2012,10.0,1038369,1036233,1036233,937974,623955,250111,112241,206403,169293,95109
31,Senegal,1988,10.0,700199,690372,690157,525544,377008,152934,68710,199854,117949,58090
32,Senegal,2002,10.0,994562,990796,990796,909126,592830,259440,124289,373031,223045,112421
33,Senegal,2013,10.0,1245551,1189111,1189110,1091087,718064,285038,131056,456163,251201,120835
34,Sierra Leone,2004,10.0,494298,494298,492922,395788,291916,120773,55346,148389,92052,48263
35,Togo,1970,1.0,23680,22648,22593,22587,11724,3980,1574,4044,2143,1080
36,Togo,2010,10.0,584859,584859,584859,517900,339447,132399,58429,131016,85981,46328
37,Uganda,1991,10.0,1548460,1547236,1546543,1242140,855005,378293,179153,282113,205895,128871
38,Uganda,2002,10.0,2497449,2497449,2497449,2042838,1355857,601101,289123,438634,337594,223066
39,Uganda,2014,10.0,3506546,3506546,3506546,3145894,1960887,860666,423773,692614,545329,352962
40,South Africa,1996,10.0,3621164,3226462,3194244,2745697,2085501,744760,335699,807390,542636,280980
41,South Africa,2001,10.0,3725655,3675739,3675739,3308325,2562379,902662,415372,1002640,665466,347662
42,South Africa,2016,5.8,3328793,3288741,3288741,3243841,2337822,711443,298203,893897,528915,250101
43,Zambia,2000,10.0,996117,996117,996117,825110,570022,259096,119089,230361,173281,100981
44,Zambia,2010,10.0,1321973,1249689,1249689,1028628,704471,307786,147933,263135,205511,126500
0,total,,,83119486,82037564,81951951,63965529,46229953,18168474,8349392,18571950,13018904,7188717

# Writing the table

## Column names

In [4]:
chlen = 16
incols = []
for col in df.columns:
    il = col.split(' ')
    # ilrev = il.copy()
    # ilrev.reverse()
    ol = []
    thislen = 0
    thisline = []
    for word in il:
        if len(word) + thislen <= chlen:
            thisline.append(word)
            thislen += len(word)
        else:
            ol.append(thisline)
            thislen = len(word)
            thisline = [word]
    ol.append(thisline)
    incols.append(ol)
maxlen = max([len(subl) for subl in incols])
for subl in incols:
    while len(subl) < maxlen:
        subl.append([])
outcols = []
for col in incols:
    outlines = []
    for line in col:
        outlines.append(" ".join(line))
    outcols.append(outlines)

## Header

In [5]:
l1 = "\singlespacing\n"
l2 = "\\begin{table}[ht!]\n"
l3 = "\\centering\n"
l4 = "\\caption{Sample construction}\n"
l5 = "\\label{app:tab:nobs}\n"
l6 = "\\resizebox{0.97\\columnwidth}{!}{\n"
l7 = "\\begin{tabular}{l*{" + '{}'.format(df.shape[1]) + "}l}\n"
l8 = "\\hline\n"
l9 = '&&&' + ''.join(['({}) & '.format(i+1)  if i < df.shape[1]-3 else
              '({})'.format(i+1) for i in range(df.shape[1]-3)]) + "\\\\\n"
l10 = "\\hline\n"
l11l = []
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
l11l.append([])
for idc, col in enumerate(outcols):
    for idl, line in enumerate(col):
        if idc == 0:
            l11l[idl].append(line)
        else:
            l11l[idl].append("&"+line)
            
l11 = ''
for l11i in l11l:
    l11+="".join(l11i)+"\\\\ \n"
l11+="\\hline\\hline \n"

In [6]:
header = l1+l2+l3+l4+l5+l6+l7+l8+l9+l10+l11
print(header)

\singlespacing
\begin{table}[ht!]
\centering
\caption{Sample construction}
\label{app:tab:nobs}
\resizebox{0.97\columnwidth}{!}{
\begin{tabular}{l*{13}l}
\hline
&&&(1) & (2) & (3) & (4) & (5) & (6) & (7) & (8) & (9) & (10) & \\
\hline
country&year&full census&number of&number of&number of&number of&number of&number of&number of&number of&number of&number of\\
&&fraction&individuals in raw&individuals with&individuals with&individuals with&individuals, aged&individuals, aged&individuals, aged&individuals, aged&individuals, aged&individuals, aged\\
&&&data&religion observed&religion +                own age&religion +                own age +&14+, with                religion&14-25, with               &14-18, with               &14+, with                religion&14-25, with               &14-18, with               \\
&&&&&observed&own education&+ own age + own&religion + own age +&religion + own age +&+ own age + own&religion + own age +&religion + own age +\\
&&&&&&observed&education&own education&own education&education +               &own education +               &own education +               \\
&&&&&&&observed&observed&observed&previous&previous&previous\\
&&&&&&&&&&generation&generation&generation\\
&&&&&&&&&&education&education&education\\
&&&&&&&&&&observed&observed&observed\\
\hline\hline

## Body

In [7]:
body=''
rows = df.shape[0]
cols = df.shape[1]
for i in range(rows):
    row=''
    for j in range(cols):
        if j == 0:
            row+="{}".format(df.iloc[i,j])
        elif 'str' in str(type(df.iloc[i,j])) or 'float' in str(type(df.iloc[i,j])):
            row+="&{}".format(df.iloc[i,j])
        elif 'int' in str(type(df.iloc[i,j])):
            if j == 1:
                row+="&{}".format(df.iloc[i,j])
            else:
                row+="&{:,}".format(df.iloc[i,j])

    row += "\\\\ \n"
    body +=row
body+="\\hline\n"
body = re.sub(r'(\ntotal)', r'\n\\hline\1', body, flags=re.DOTALL)

In [8]:
l1 = "\\end{tabular}\n"
l2 = "}"
l3 = "\\captionsetup{size=scriptsize, justification=justified, width=\columnwidth}\n"
l4 = '''\\caption*{\\textbf{DETAILED TABLE NOTES}}\n'''
l5 = "\\end{table}\n"
l6 = "\onehalfspacing"

In [9]:
footer=l1+l2+l3+l4+l5+l6

## Final cleanup and writing

In [10]:
textab = header+body+footer

In [11]:
fh = open(outdir + "/_apptab_nobs.tex", "w")
fh.write(textab)
fh.close()