In [1]:
import numpy as np
import pandas as pd
import re
import country_converter as coco
from textab import TexTab
import os

In [2]:
current_folder = globals()['_dh'][0]
rootdir = os.path.dirname(os.path.dirname(current_folder))
wdir = os.path.join(rootdir, '_2_intermediate', 'data')
outdir = os.path.join(rootdir, '_3_figures_tables', 'data')

In [3]:
ISO = ["BEN", "BFA", "BWA", "CMR", "EGY",
       "ETH", "GHA", "GIN", "LBR", "MLI",
       "MOZ", "MUS", "MWI", "NGA", "RWA",
       "SEN", "SLE", "TGO", "UGA", "ZAF",
       "ZMB"]
pop = pd.read_csv(os.path.join(wdir, 'pop_world.csv'))
pop = pop[(pop.year == 1980) & (pop.iso.isin(ISO))].reset_index(drop=True)
del pop['year']
pop['pop1980'] = pop['pop'].astype('int') 
del pop['pop']
pop

    iso   pop1980
0   BEN   3717165
1   BFA   6822843
2   BWA    897868
3   CMR   8621406
4   EGY  43309063
5   ETH  35141712
6   GHA  11056116
7   GIN   4871435
8   LBR   1853001
9   MLI   7090126
10  MOZ  11630194
11  MUS    966039
12  MWI   6250440
13  NGA  73423633
14  RWA   5153312
15  SEN   5583165
16  SLE   3388495
17  TGO   2720839
18  UGA  12442334
19  ZAF  28556769
20  ZMB   5851825

In [4]:
df = pd.read_csv(os.path.join(wdir, '_nobs_cens_condensed.csv'))
del df['n50'], df['n80']
de = pd.read_csv(os.path.join(wdir, '_ndist_eth.csv'))
df = pd.merge(df, de, on = ['iso', 'year'], how='left')
df = pd.merge(df, pop, on=['iso'], how='left')
de = de.groupby(de.iso).max().sum()
de['pop'] = pop['pop1980'].sum()
de

year         42204.0
ndist         2285.0
neth           222.0
pop      279347780.0
dtype: float64

In [5]:
df['country'] =  coco.convert(names=list(df['iso']), to='name_short')
del df['iso']
df = df[['country'] + list(df.columns)[:-1]]
df = df.sort_values(['country', 'year']).reset_index(drop=True).copy(deep=True)
df = df.fillna(0)
tot = pd.DataFrame(df.iloc[:,2:].sum(axis=0)).T
cols = list(tot.columns)
tot['country'] = 'total'
tot['year'] = ''
tot = tot[['country', 'year']+cols]
df = pd.concat([df, tot], axis=0).reset_index(drop=True)
df['year'] = df.year.astype('str')
# this is the correct number of non-nan districts (can be obtained from 
# counting the number of unique non-nan districts in _F_dist_religion_bch10.csv
df.iloc[-1,-3] = 2286 
# this is the correct number of ethnic groups
df.iloc[-1,-2] = 222
df.iloc[-1,-1] = 278381741
for col in df.columns[2:]:
    df[col] = df[col].astype('int')

In [6]:
df

,country,year,n,nim18,nim25,nexposure,ndist,neth,pop1980
0,Benin,1992,255736,34784,65040,4928,77,9,3717165
1,Benin,2002,373452,57364,104331,7795,77,9,3717165
2,Benin,2013,559525,93329,170580,9227,77,9,3717165
3,Botswana,2001,109509,16077,29119,0,21,8,897868
4,Botswana,2011,138094,14276,28817,0,21,8,897868
5,Burkina Faso,1996,552062,95669,157808,0,45,0,6822843
6,Burkina Faso,2006,770161,123364,211275,0,45,12,6822843
7,Cameroon,2005,1003327,162672,295388,14650,204,0,8621406
8,Egypt,1986,4261935,693275,1345068,40708,173,0,43309063
9,Egypt,1996,3810835,695795,1230963,16798,231,0,43309063
10,Egypt,2006,5096618,759450,1590965,16599,235,0,43309063
11,Ethiopia,1984,1798345,234160,359917,10193,57,14,35141712
12,Ethiopia,1994,2831290,498229,787544,0,80,14,35141712
13,Ethiopia,2007,744744,128818,200774,0,89,14,35141712
14,Ghana,2000,1152128,167556,309485,0,110,9,11056116
15,Ghana,2010,1575528,229128,424323,18908,110,9,11056116
16,Guinea,1983,274948,33789,68385,0,33,0,4871435
17,Guinea,1996,396987,58373,113585,8851,33,0,4871435
18,Guinea,2014,602197,108289,212496,18275,33,10,4871435
19,Liberia,2008,210111,32411,60197,0,42,14,1853001
20,Malawi,1998,582694,83465,131703,0,183,0,6250440
21,Malawi,2008,736175,108154,170362,10281,183,9,6250440
22,Mali,2009,775335,134899,241745,10532,241,11,7090126
23,Mauritius,1990,76358,9632,21222,0,39,6,966039
24,Mauritius,2000,90070,9623,22205,0,39,6,966039
25,Mauritius,2011,99864,9667,20783,0,39,6,966039
26,Mozambique,2007,1094578,149848,248491,0,337,17,11630194
27,Nigeria,2010,41753,6846,12376,0,37,0,73423633
28,Rwanda,1991,372256,59477,98430,4839,30,2,5153312
29,Rwanda,2002,456450,87049,139236,5234,30,6,5153312
30,Rwanda,2012,623955,95109,169293,0,30,4,5153312
31,Senegal,1988,377008,58090,117949,0,27,10,5583165
32,Senegal,2002,592830,112421,223045,0,27,10,5583165
33,Senegal,2013,718064,120835,251201,0,27,9,5583165
34,Sierra Leone,2004,291916,48263,92052,0,100,12,3388495
35,South Africa,1996,2085501,280980,542636,0,179,11,28556769
36,South Africa,2001,2562379,347662,665466,4496,179,11,28556769
37,South Africa,2016,2337822,250101,528915,241,206,11,28556769
38,Togo,1970,11724,1080,2143,0,19,19,2720839
39,Togo,2010,339447,46328,85981,6688,37,20,2720839
40,Uganda,1991,855005,128871,205895,13425,133,21,12442334
41,Uganda,2002,1355857,223066,337594,12752,136,21,12442334
42,Uganda,2014,1960887,352962,545329,17513,137,21,12442334
43,Zambia,2000,570022,100981,173281,15723,55,18,5851825
44,Zambia,2010,704471,126500,205511,8030,55,18,5851825
45,total,,46229953,7188717,13018904,276686,2286,222,278381741

In [7]:
tt = TexTab(df)

In [8]:
cns = ['', '', '(1)', '(2)', '(3)', '(4)', '(5)', '(6)', '(7)']
lcols = ['country', 'year']
gaps = ['year']
cap = "Observations by Country and Census"
lab = "tab:_nobs_condensed"
lines = ['total']
notes = '''This table reports the number of observations by census. Column (1) shows 
the total number of observations for individuals aged 14+ for whom we oberve religion
as well as their own educational attainment. Column (2) shows the number of individuals 
aged 14-18 for whom we observe religion, their own educational attainment, as well as 
the educational attainment of the previous generation in the family. Column (3) is the
same as column (2) but for individuals aged 14-25. Column (4) shows the number of 
individuals that enter in the exposure effects regressions. Column (5) shows the number
of unique district in that census-year, column (6) shows the number of unique ethnic
groups and column (7) shows the country's population in 1980, which we use for weighting.
'''

In [9]:
tab = tt.create_tab_onepanel(cns=cns, gaps=gaps, lcols=lcols,
                             cap=cap, lab=lab, lines=lines, notes=notes, clines=False)

In [10]:
tab = re.sub(r'&&&\(1\).+\n', r'', tab)
nl1 = '\\\\hline\n'
nl2 = '\\\\multicolumn{1}{l}{country}&\\\\multicolumn{1}{l}{year}&\\\\multicolumn{1}{l}{}'
nl3a = '&$N^{14+}$&$N^{14-18}_{\\\\text{olded}}$&$N^{14-25}_{\\\\text{olded}}$&$N^{14-25}_{\\\\text{exposure}}$'
nl3b = '&$N_{dist}$&$N_{eth}$&$\\\\text{pop}_{1980}$\\\\\\\n'
nl3 = nl3a + nl3b
tab = re.sub(r'(\\hline\nBenin)', r'{}{}{}\1'.format(nl1, nl2, nl3), tab)
tab = re.sub(r'&0&', r'&&', tab)
tab = re.sub(r'&0\\\\', r'&\\\\', tab)
print(tab)

\begin{table}[ht!]
\singlespacing
\centering
\caption{Observations by Country and Census}
\label{tab:_nobs_condensed}
\resizebox{\columnwidth}{!}{
\begin{tabular}{llcccccccc}
\hline
\hline
&&\;\;\;\;\;\;\;\;\;\;\;&(1)&(2)&(3)&(4)&(5)&(6)&(7)\\
\hline
\multicolumn{1}{l}{country}&\multicolumn{1}{l}{year}&\multicolumn{1}{l}{}&$N^{14+}$&$N^{14-18}_{\text{olded}}$&$N^{14-25}_{\text{olded}}$&$N^{14-25}_{\text{exposure}}$&$N_{dist}$&$N_{eth}$&$\text{pop}_{1980}$\\
\hline
Benin&1992&&255,736&34,784&65,040&4,928&77&9&3,717,165\\
Benin&2002&&373,452&57,364&104,331&7,795&77&9&3,717,165\\
Benin&2013&&559,525&93,329&170,580&9,227&77&9&3,717,165\\
Botswana&2001&&109,509&16,077&29,119&&21&8&897,868\\
Botswana&2011&&138,094&14,276&28,817&&21&8&897,868\\
Burkina Faso&1996&&552,062&95,669&157,808&&45&&6,822,843\\
Burkina Faso&2006&&770,161&123,364&211,275&&45&12&6,822,843\\
Cameroon&2005&&1,003,327&162,672&295,388&14,650&204&&8,621,406\\
Egypt&1986&&4,261,935&693,275&1,345,068&40,708&173&&43,309,063\\
Egypt&1996&&3,810,835&695,795&1,230,963&16,798&231&&43,309,063\\
Egypt&2006&&5,096,618&759,450&1,590,965&16,599&235&&43,309,063\\
Ethiopia&1984&&1,798,345&234,160&359,917&10,193&57&14&35,141,712\\
Ethiopia&1994&&2,831,290&498,229&787,544&&80&14&35,141,712\\
Ethiopia&2007&&744,744&128,818&200,774&&89&14&35,141,712\\
Ghana&2000&&1,152,128&167,556&309,485&&110&9&11,056,116\\
Ghana&2010&&1,575,528&229,128&424,323&18,908&110&9&11,056,116\\
Guinea&1983&&274,948&33,789&68,385&&33&&4,871,435\\
Guinea&1996&&396,987&58,373&113,585&8,851&33&&4,871,435\\
Guinea&2014&&602,197&108,289&212,496&18,275&33&10&4,871,435\\
Liberia&2008&&210,111&32,411&60,197&&42&14&1,853,001\\
Malawi&1998&&582,694&83,465&131,703&&183&&6,250,440\\
Malawi&2008&&736,175&108,154&170,362&10,281&183&9&6,250,440\\
Mali&2009&&775,335&134,899&241,745&10,532&241&11&7,090,126\\
Mauritius&1990&&76,358&9,632&21,222&&39&6&966,039\\
Mauritius&2000&&90,070&9,623&22,205&&39&6&966,039\\
Mauritius&2011&&99,864&9,667&20,783&&39&6&966,039\\
Mozambique&2007&&1,094,578&149,848&248,491&&337&17&11,630,194\\
Nigeria&2010&&41,753&6,846&12,376&&37&&73,423,633\\
Rwanda&1991&&372,256&59,477&98,430&4,839&30&2&5,153,312\\
Rwanda&2002&&456,450&87,049&139,236&5,234&30&6&5,153,312\\
Rwanda&2012&&623,955&95,109&169,293&&30&4&5,153,312\\
Senegal&1988&&377,008&58,090&117,949&&27&10&5,583,165\\
Senegal&2002&&592,830&112,421&223,045&&27&10&5,583,165\\
Senegal&2013&&718,064&120,835&251,201&&27&9&5,583,165\\
Sierra Leone&2004&&291,916&48,263&92,052&&100&12&3,388,495\\
South Africa&1996&&2,085,501&280,980&542,636&&179&11&28,556,769\\
South Africa&2001&&2,562,379&347,662&665,466&4,496&179&11&28,556,769\\
South Africa&2016&&2,337,822&250,101&528,915&241&206&11&28,556,769\\
Togo&1970&&11,724&1,080&2,143&&19&19&2,720,839\\
Togo&2010&&339,447&46,328&85,981&6,688&37&20&2,720,839\\
Uganda&1991&&855,005&128,871&205,895&13,425&133&21&12,442,334\\
Uganda&2002&&1,355,857&223,066&337,594&12,752&136&21&12,442,334\\
Uganda&2014&&1,960,887&352,962&545,329&17,513&137&21&12,442,334\\
Zambia&2000&&570,022&100,981&173,281&15,723&55&18&5,851,825\\
Zambia&2010&&704,471&126,500&205,511&8,030&55&18&5,851,825\\
\hline
total&&&46,229,953&7,188,717&13,018,904&276,686&2,286&222&278,381,741\\
\hline
\end{tabular}
}
\captionsetup{size=scriptsize, justification=justified, width=\columnwidth}
\caption*{This table reports the number of observations by census. Column (1) shows
the total number of observations for individuals aged 14+ for whom we oberve religion
as well as their own educational attainment. Column (2) shows the number of individuals
aged 14-18 for whom we observe religion, their own educational attainment, as well as
the educational attainment of the previous generation in the family. Column (3) is the
same as column (2) but for individuals aged 14-25. Column (4) shows the number of
individuals that enter in the exposure effects regressions. Column (5) shows the number
of unique district in that census-year, column (6) shows the number of unique ethnic
groups and column (7) shows the country's population in 1980, which we use for weighting.
}
\end{table}

In [11]:
fh = open(outdir + "/_nobs_cens_condensed.tex", "w")
fh.write(tab)
fh.close()